.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(24, 83, 117);
    margin: 10px 30px;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    justify-content: space-around; 
}

.quick-links-section,
.legal-links-section,
.social-media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    margin-top: 0px;
    text-align: center;
}

.quick-links-section li,
.legal-links-section li,
.social-media-section li {
    margin-left: 0px;
    display: flex;
    flex-direction: row; 
    row-gap: 2px;
}
@media (max-width: 768px) {
    .container {
        margin: 10px 5px; /* Adjust margin for smaller screens */
    }

    .details {
        gap: 10px;
    }

    .quick-links-section,
    .legal-links-section,
    .social-media-section {
        gap: 10px;
    }
}
