
.Home {
  display: flex;
  flex-direction: column;
  background-color: #AFD4E2;
  
  padding: 0px;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #AFD4E2;
}

.Nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
  color: #1E3240;
 
}

.Nav li {
  cursor: pointer;
}

.sec {
  width: 650px;
  padding: 40px;
  margin-left: 200px;
  margin-top: -20px;
}

.sec h1 {
  font-family: Mulish;
  font-size: 100px;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E3240;

  
}
.sec p{
  color: #1E3240;

}

.Logo {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bold;
  

}
.Logo{

color: #1E3240;
margin-left: 15%;
}

.but {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.Our, .Us {
  padding: 10px;
 margin-top: 20px;
}

.Our {
  background-color: #1E3240;
  color:white;
  width: Hug (127px);
height: Hug (53px);
top: 572px;
left: 165px;
padding: 18px, 24px, 18px, 24px;

}

.Us {
  
  width: Hug (118px);
height: Hug (53px);
top: 572px;
left: 322px;
padding: 18px, 24px, 18px, 24px;
border: 1px;
border: 1px solid #1E3240;
color:#1E3240;


}

img {
  max-width: 500px;
  
  margin-top: -596px;
  float: right;
}
@media (max-width: 768px) {
  .Home {
    margin: 10px;
    width: 100%;
    
  }

  .Nav {
    flex-direction: row; 
    align-items: flex-start; 
  }
  .sec{
   margin-left: 0px;
  font-size: 10px;
   
   
  }
  .Nav ul{
    display: flex;
    flex-direction: row;
  }
  .sec h1{
    font-size: 20px;

  }

  .Nav ul,
  .Logo,
  .but {
    width: 100%;
  }

  .Our, .Us {
    margin-bottom: 20px; 
  }
  img {
    margin-top: 0; 
  }
}
