.Home {
  display: flex;
  flex-direction: column;
  background-color: #AFD4E2;
  margin: 30px;
  padding: 0px;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #AFD4E2;
}

.Nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.Nav li {
  cursor: pointer;
}

.sec {
  width: 550px;
  padding: 40px;
  margin-left: 80px;
  margin-top: -20px;
}

.sec h1 {
  font-size: 80px;
  line-height: 108px;
  font-weight: 700;
}

.Logo {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bold;
}

.but {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.Our, .Us {
  padding: 10px;
}

.Our {
  background-color: #1E3240;
}

.Us {
  color: #1E3240;
}

img {
  max-width: 500px;
  margin-top: -500px;
  float: right;
}
@media (max-width: 768px) {
  .Home {
    margin: 10px;
    width: 100%;
  }

  .Nav {
    flex-direction: row; 
    align-items: flex-start; 
  }
  .sec{
   margin-left: 0px;
  font-size: 10px;
   
   
  }
  .Nav ul{
    display: flex;
    flex-direction: row;
  }
  .sec h1{
    font-size: 20px;

  }

  .Nav ul,
  .Logo,
  .but {
    width: 100%;
  }

  .Our, .Us {
    margin-bottom: 20px; 
  }
  img {
    margin-top: 0; 
  }
}
