.page2-container {
    
    overflow: hidden;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding:10px;
    width: 1440px;
height: 800px;
top: 800px;

}

.left-image {
    float: left;
    margin: 20px;
    /* width: 400px;
    height: 500px; */
    width: 445px;
height: 500px;
top: 950px;;
left: 165px;
margin: 10%;
color: #1E3240;


   
}
.content p{
    padding-top:40px;
    width: 540px;
height: 66px;
top: 1213px;
left: 735px;
color: #BDBDBD;
text-align: justify;




}
.content {
    margin: 0px 50px;
    padding: 20px;
    background-color: white;
    color: #1E3240;
    display: flex;
    flex-direction: column;
}
.content h1{
    width: 1440px;
height: 800px;
top: 800px;
color:  #1E3240;

}
h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.dates,
.year {
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}

.dates li,
.year li {
    margin-bottom: 10px;
    list-style-type: none;
}

.dates {
    color: skyblue;
}

.year {
    font-size: 50px;
    color:#1E3240;;
}
@media (max-width: 768px) {
    .page2-container content{
     
        margin-top: 180%;
        margin-left: -123%;
       width: 50vw;
       color:black;
       font-size: 3px;
    }
    .content h1{
        margin-top: 180%;
        margin-left: -123%;
       width: 50vw;
       font-size: 40px;
      
    }  
    .content p{
        margin-right:50%;
    }
    .left-image{
        margin-left:5px ;
    }
    @media (max-width: 992px) {
        
       .page2-container .content .h1 .p{
            margin-top: 180%;
            margin-left: -120%;
           width: 50vw;
           font-size: 40px;
           color:black;
          
        } 
        .content .p{
            color:black
        } 
        .left-image{
            margin-left:50px ;
        }
      
        .page2-container img{
            width: 20%;
          
            height: 40%;
            margin-top: -150px;

        }
        .content #award{
            font-size: 20px;
           margin-left: -500px;
          margin-top: 450px;
           width: 100%;
         
        }
        .content #semper{
            margin-left: -500px;
            width: 100%;
            font-size: 12px;
           margin-top: -150px;
        }
        .content .dates,.year{
            margin-left: -500px;
            display: flex;
          justify-content: left;
          font-size: 10px;
          column-gap: 10px;
          margin-top: -15px;
        }
        .page2-container .content{
            height: 100%;
        }
      .content,.year{
            margin-right: -400px;
            font-size: 15px;
            display: flex;
            justify-content: left;
            column-gap: 100px;
            margin-top: 10px;
           
        }
    }
    
}
