.page2-container {
    
    overflow: hidden;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding:10px;
    width: 1440px;
height: 800px;
top: 800px;

}

.left-image {
    float: left;
    margin: 20px;
    /* width: 400px;
    height: 500px; */
    width: 445px;
height: 500px;
top: 950px;;
left: 165px;
margin-left:15%;
color: #1E3240;


   
}
.content p{
    padding-top:40px;
    width: 540px;
height: 66px;
top: 1213px;
left: 735px;
color: #BDBDBD;
text-align: justify;


}
.content {
    margin: 0px 80px;
    padding: 20px;
    background-color: white;
    color: #1E3240;
    display: flex;
    flex-direction: column;
}
.content h1{
    width: 1440px;
height: 800px;
top: 800px;
color:  #1E3240;

}
h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.dates,
.year {
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.dates li,
.year li {
    margin-bottom: 10px;
    list-style-type: none;
}

.dates {
    color: skyblue;
}

.year {
    font-size: 50px;
    color:#1E3240;;
}
@media (max-width: 768px) {
    .page2-container {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .content {
        margin: 10px; 
    }
    .content h1{
        font-size: 20px;
    }
    .content p{
        font-size: 12px;
    }
}
