body {
  overflow-x: hidden;
}

.sam {
    text-align: center;
    margin-top: -90px;
    width: 1110px;
height: 92px;
top: 2472px;
left: 158px;
margin-left: 14%;

   
  }
  .test{
    /* border: 1px solid black; */
    margin: 30px ;
    padding: 80px;
  }
 
  .head {
    text-align: justify;
    display: flex;
    flex-direction: column;
    /* width:500px; */
    padding-left: 620px;
    padding-right:150px;
   margin-left: auto 20%;
   margin-top: -800px;
   line-height: 30px;
   text-align: justify;
   width:50%;
   
  }
  .head h2{
    margin-left: 90px;
    font-family: Mulish;
    width:90%;
font-size: 32px;
font-weight: 700px;
line-height: 40px;
letter-spacing: 0em;
text-align: left;

  }
  .head h4{
    margin-left: 90px;
   
  }
  .head.para{
    margin-left: 10px;
  }
  .head p{
    margin-left: 80px;
    font-weight: bold;

   

  }
.random {
  /* margin:600px 0px 0px -780px; */

  width: 380px;
  height: 350px;
  top: 2642px;
  left: 158px;
  margin-top: 600px;


}
.content h1{
  width: 540px;
height: 174px;
top: 999px;
left: 735px;

}
.title {
  display: flex;
  flex-direction: column;
   
  padding-right: -50px; 
}

.title h1 {
  text-align: center;
  margin: 0;
}

.title p {
  line-height: 2;
  padding: 10px;
  text-align: justify;
  margin-left: 0;
}
.sam p{
  padding: 5px;
  font-family: Mulish;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #1E3240;

 
}
.arrow{
  margin-left: -130%;
  margin-top: -15%;
  color:#e8e5e5;
  font-weight: normal;
}

.logo2{
  margin-left: 100%;
  margin-top: -200%;
  color:#e8e5e5;
  font-weight: normal;
 
}

.sam h1{
  font-family: Mulish;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: center;
color: #1E3240;


}
.head p{
  font-size: 24px;
  text-align: justify;
  line-height: 30px;
  color: #1E3240;
  margin-left: -100px;
  width:82%;
}
.head h2{
  margin-top: -110px;
  size:32px;
  color: #1E3240;
  margin-left: -99px;
}
.title{
  margin-top: 5%;
   
}
.head h4{
  margin-top: 5px;
  font-family: Mulish;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #1E3240;
margin-left: -95px;
margin-bottom: 1px;
}

@media (max-width: 768px) {
  .head {
    padding-left: 20px; 
    padding-right: 20px; 
    margin-top: -50px; 
  }

  .random {
    margin: 20px 0px 0px 100px; 
   
  }

  .title {
    padding:20px;
    text-align: justify;
  font-size: 10px;
  }

  .head, .random, .title {
    padding-left: 20px; 
    padding-right: 20px; 
  }
  .head{
    padding-top:50px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
  }
  .head p{
 
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
  }
 .sam h1{
font-size: 20px;
 }
 .sam p{
  font-size: 15px;
 }
}
