.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(24, 83, 117);
    margin:0px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 800px; 
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-section {
    margin-left: auto;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

.nav-links,
.details {
    display: flex;
}

