
*{
  margin: 0px;
  padding:0px;
}
.contains {

  max-width: 100vw;
  margin: 0px 30px;
  text-align: center;
  border: 1px solid rgb(252, 246, 246);;
  padding:80px;
}

.Ongo {
  position: relative;
  overflow: hidden;
  margin: 50px;
}

.image-slider {
  display: flex;
  gap: 80px; /* Adjust the column gap as needed */
  transition: transform 0.5s ease;
}

.image-slider img {
  width: 50%;
 
}

.icons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.icons svg {
  font-size: 24px;
  cursor: pointer;
}
