.sam {
    text-align: center;
    margin-top: -60px;
   
  }
  .test{
    /* border: 1px solid black; */
    margin: 30px ;
    padding: 80px;
<<<<<<< HEAD
  }
 
  .head {
    text-align: justify;
    display: flex;
    flex-direction: column;
    width:500px;
    padding: 20px;
    padding-right:150px;
   margin-left: auto;
   margin-top: -500px;
   
  }
.random {
  margin:600px 0px 0px -700px;
  width: 100%;
 

}
.title h1{
  text-align: center;
 
  margin: 0px auto;
}
.title p{
  line-height: 2px;
  padding:3px;
}
.sam p{
  padding: 10px;
 
}

=======
    justify-content: center; 
    align-items: center;
  }
  
  .borderedImage {
    border: 1px solid black;
    margin: 10px; 
  }
  
  .head {
    padding: 100px;
    margin-top: 250px;
    text-align: justify;
  }
  
  .random {
    
    text-align: center;
    margin: 0 auto; 
  }
.title{
    max-width: 100vw;
  
    text-align: center;
   
   
    
}  
>>>>>>> origin/develop
